body{
    background-color: whitesmoke;
    margin: 0;
}

header {
    width: 100%;
    
}

nav {
    color: white;
    height: 5vh;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    background-color: rgb(61, 61, 61);
    padding-left: 1vw;
    padding-right: 1vw;
}

.links {
    display: flex;
    align-items: center;
}

.search {
    display: flex;
    align-items: center;
    
}

.info{
    display: flex;
    flex-direction: row;

}

button{
    background-color: rgb(61, 61, 61);
    border: 0;
    box-shadow: none;
    border-radius: 0px;
    color: white;
    padding-left: 2vw ;

}
.movies{
    padding-left: 3vw
}
.movie{
    height: 40%;
    width: 23%;
    padding: .5vw;
    
}